<html>

<head>
    <link href="css/food.css" rel="stylesheet">

</head>

<body>
    <div>
        <table>
            <tr>
                <td> <a href="dessert.php"><img src="/cllgproject/img/chocolate-coconut-and-cherry-sponge.jpg"
                            class="img1" alt="dessert"><BR>
                    </a>
                </td>
                <td></td>
                <td><a href="starters.php"><img src="/cllgproject/img/pepperoni-pizza.jpg" class="img2"
                            alt="startes"><BR>
                    </a></td>
                <td></td>
                <td><a href="coffee.php"><img src="/cllgproject/img/hot-espresso.png" class="img2" alt="coffee"><BR>
                    </a></td>

            </tr>
            <tr>
                <td>
                    <a href="dessert.php">
                        <h5 class="heading"> DESSERTS</h5>
                    </a>
                </td>
                <td></td>
                <td>
                    <a href="starters.php">
                        <h5 class="heading"> STARTERS</h5>
                    </a>
                </td>
                <td></td>
                <td>
                    <a href="coffee.php">
                        <h5 class="heading"> COFFEE</h5>
                    </a>
                </td>

            </tr>
        </table>


    </div>
</body>

</html>